<html>
	<head>
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/index.js"></script>

		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
		<div class="top">
			<div class="title"><%=countdownTitle%></div>
			<div class="time"><%=countdown%></div>
		</div>
		<div class="buttons">
			<button id="playPause"><%=playPause%></button>
			<button id="reset">Reset</button>
			<button id="settings">Settings</button>
		</div>
		<div class="bottom">
			<div class="title"><%=timeTitle%></div>
			<div class="time"><%=time%></div>
		</div>
	</body>
</html>
